{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I'm a passionate software developer with a unique journey into the world of programming. Coming from a background in biology and chemistry, I've built my programming knowledge from the ground up over the past year, demonstrating my ability to quickly adapt and learn new skills.</p>
<p>My expertise lies in Python and web technologies, where I've developed a diverse portfolio of projects ranging from data-driven web applications to automation tools. I specialize in creating practical solutions using Flask for web development, integrating APIs, and leveraging web scraping techniques.</p>My projects showcase my proficiency in building dynamic websites, implementing user authentication, and managing databases with SQLAlchemy. I'm particularly enthusiastic about developing applications that solve real-world problems, such as my stock trading news alert system and automated job application bot.
<p>With a strong foundation in scientific thinking and a newfound passion for coding, I bring a unique perspective to software development. I'm constantly seeking new challenges and opportunities to expand my skills in this ever-evolving field.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
